@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IEnumerable<UserWithClaims>>

@section style {
    <link href="~/Content/css/bootstrap-switch.min.css" rel="stylesheet">
}

@section scripts {
    <script src="~/Content/js/bootstrap-switch.min.js"></script>

    <script type="text/javascript">
        /* Authentication control */
        $("#authEnabledSwitch").bootstrapSwitch({
            onSwitchChange: function (event, state) {
                if (state && $("span[name='adminbadge']").length == 0) {
                    event.preventDefault();
                    $('#noAdminModal').modal();
                    return false;
                }
                $.post('enable', { 'Enabled': state }, function (data) {
                    if (state) {
                        location.reload();
                    }
                }).fail(function () {
                    $('#globalAlert').removeClass('hidden');
                });
            }
        });

        function submitAjaxFormFromModal(modalId, form, onsuccess) {
            var dataToSent = $(form).serialize();
            $.post($(form).attr('action'), dataToSent,
                function (data) {
                    if (data.isSuccess) {
                        $('#globalAlert').addClass('hidden');
                        $('#' + modalId).modal('hide');

                        if (onsuccess) {
                            onsuccess(data);
                        }
                    } else {
                        if (!data.errors) {
                            data.errors = ["Unknown error"];
                        }
                        $('#' + modalId + ' .alert').html(data.errors.join('<br/>'));
                        $('#' + modalId + ' .alert').removeClass('hidden');
                    }
                }).fail(function () {
                    $('#globalAlert').removeClass('hidden');
                    $('#' + modalId).modal('hide');
                });
        }

        function btnRemoveUser(btn) {
            currentUserId = $(btn).attr('data-userid');
            var username = $(btn).attr('data-username');
            $('#userRemoveModal h4').text('Are you sure you want to remove the \'' +
                 username + '\' user?');
            $('#userRemoveModal').modal();
        }

        function btnResetPassword(btn) {
            var userId = $(btn).attr('data-userid');
            var username = $(btn).attr('data-username');
            $('#changePasswordModal h4').text('Change password for \'' + username + '\'');
            $('#changePasswordModal .alert').addClass('hidden');
            $('#changePasswordModal input').val('');
            $("#changePasswordModal input[name='Id']").val(userId);
            $('#changePasswordModal').modal();
        }

        /* Users management */
        var currentUserId = null;

        $(function () {
            // user removal
            $("button[name='rmuser']").on('click', function () {
                btnRemoveUser(this);
            });
            $("#userRemoveModal button[name='rmbtn'").on('click', function () {
                if (currentUserId == null) {
                    $('#userRemoveModal').modal('hide');
                } else {
                    var id = currentUserId;
                    $.post('remove', { Id: id }, function (data) {
                        $('#tr' + id).remove();
                        $('#globalAlert').addClass('hidden');
                        $('#userRemoveModal').modal('hide');
                    }).fail(function () {
                        $('#globalAlert').removeClass('hidden');
                        $('#userRemoveModal').modal('hide');
                    });
                }
                return false;
            });
            // password reset
            $("button[name='resetpasswd']").on('click', function () {
                btnResetPassword(this);
            });
            $('#changePasswordModal form').on('submit', function () {
                $.post($(this).attr('action'), $(this).serialize(),
                    function (data) {
                        if (data.isSuccess) {
                            $('#globalAlert').addClass('hidden');
                            $('#changePasswordModal').modal('hide');
                        } else {
                            if (!data.errors) {
                                data.errors = ["Unknown error"];
                            }
                            $('#changePasswordModal .alert').html(data.errors.join('<br/>'));
                            $('#changePasswordModal .alert').removeClass('hidden');
                        }
                    }).fail(function () {
                        $('#globalAlert').removeClass('hidden');
                        $('#changePasswordModal').modal('hide');
                    });
                return false;
            });
            $("#changePasswordModal button[name='confirm']").on('click', function () {
                $('#changePasswordModal form').submit();
            });
            // register new user
            $("button[name='registeruser'").on('click', function () {
                $('#registerNewUserModal .alert').addClass('hidden');
                $('#registerNewUserModal input').val('');
                $("#registerNewUserModal input[type='checkbox']").val('true');
                $('#registerNewUserModal input').removeAttr('checked');
                $('#registerNewUserModal').modal();
                return false;
            });
            $("#registerNewUserModal button[name='confirm']").on('click', function () {
                $('#registerNewUserModal form').submit();
            });
            $('#registerNewUserModal form').on('submit', function () {
                var form = this;
                submitAjaxFormFromModal('registerNewUserModal', form, function (data) {
                    var html = $('#template tbody').html().replace(/{userid}/g, data.result).replace(
                        /{username}/g, $('#Login').val());
                    var ctrl = $('#users tbody').append(html);
                    ctrl.find("button[name='rmuser']").on('click', function () {
                        btnRemoveUser(this);
                    });
                    ctrl.find("button[name='resetpasswd']").on('click', function () {
                        btnResetPassword(this);
                    });
                    if ($('#IsAdmin').prop('checked')) {
                        ctrl.find(".label").removeClass('hidden');
                    }
                });
                return false;
            });
        });
    </script>
}

<div class="container">
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Access control configuration</div>
        <div class="panel-body">
            <div id="globalAlert" class="alert alert-danger alert-dismissible hidden" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                There was <strong>a problem</strong> while trying to update the user info. Please try again and if the problem
                persists contact the application administrator.
            </div>
            <p>
                <a href="https://github.com/lowleveldesign/diagnostics-kit/wiki/1.5.authentication" target="_blank">Access control</a> is:
                <input id="authEnabledSwitch" type="checkbox" data-size="mini" data-on-text="ON" data-off-text="OFF" data-on-color="success"
                       checked="@((bool)ViewBag.AuthEnabled)" />
            </p>
            <p>
                A list of users which have access to the applications grid can be found below. To register a new user go to
                <button name="registeruser" class="btn btn-xs btn-default">the registration form</button>.
            </p>
        </div>
        <table id="users" class="table table-hover">
            <tbody>
                @foreach (var u in Model) {
                    <tr id="tr@(u.Id)">
                        <td>
                            @u.UserName @if (u.IsAdmin) { <span name="adminbadge" class="label label-success">Administrator</span> }
                        </td>
                        <td class="text-right text-nowrap">
                            <button name="resetpasswd" class="btn btn-xs btn-info" data-userid="@u.Id" data-username="@u.UserName">
                                Change Password
                            </button>
                            <button name="rmuser" class="btn btn-xs btn-danger" data-userid="@u.Id" data-username="@u.UserName">
                                <span class="glyphicon glyphicon-trash"></span>
                                Remove
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <table id="template" class="hidden">
            <tbody>
                <tr id="td{userid}">
                    <td>{username} <span name="adminbadge" class="label label-success hidden">Administrator</span></td>
                    <td class="text-right text-nowrap">
                        <button name="resetpasswd" class="btn btn-xs btn-info" data-userid="{userid}" data-username="{username}">
                            Change Password
                        </button>
                        <button name="rmuser" class="btn btn-xs btn-danger" data-userid="{userid}" data-username="{username}">
                            <span class="glyphicon glyphicon-trash"></span>
                            Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div id="userRemoveModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p>After removal the user won't be able to sign into the application.</p>
                </div>
                <div class="modal-footer">
                    <button name="rmbtn" type="button" class="btn btn-danger">Remove</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="noAdminModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">No Administrator account found.</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <strong>Please register an Administrator account</strong> - you can't enable access control when there is
                        no Administrator account configured in the application. More information can be found in the
                        <a href="https://github.com/lowleveldesign/diagnostics-kit/wiki/1.5.authentication" target="_blank">documentation</a>.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div id="changePasswordModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Change password</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger hidden" role="alert"></div>
                    <form method="post" action="~/auth/adminresetpasswd">
                        <input name="Id" type="hidden" value="" />
                        <div class="form-group">
                            <label for="Password">New password</label>
                            <input type="password" class="form-control" name="Password" placeholder="New password" value="" />
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword">Confirm password</label>
                            <input type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm password" value="" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button name="confirm" type="button" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


    <div id="registerNewUserModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Register new user</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger hidden" role="alert"></div>
                    <form method="post" action="~/auth/register">
                        <div class="form-group">
                            <label for="Login">Login</label>
                            <input type="text" class="form-control" id="Login" name="Login" placeholder="Login" value="" />
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input name="IsAdmin" id="IsAdmin" type="checkbox" value="true" />
                                    Is Administrator
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Password">Password</label>
                            <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" value="" />
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword">Confirm password</label>
                            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm password" value="" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button name="confirm" type="button" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
