@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<ApplicationLogFilterModel>

@section style {
    <style type="text/css">
        .form-inline .form-group {
            margin: 5px 3px;
        }

        .hidden {
            display: none;
        }
    </style>
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('.lnk_message').on('click', function () {
                $(this).parent().parent().next('tr.tr_message:first').toggleClass('hidden');
                return false;
            });
            $('.lnk_exception').on('click', function () {
                $(this).closest('tr').nextAll('tr.tr_exception:first').toggleClass('hidden');
                return false;
            });
            $('.lnk_perf').on('click', function () {
                $(this).closest('tr').nextAll('tr.tr_perf:first').toggleClass('hidden');
                return false;
            });
            $('.lnk_more').on('click', function () {
                $(this).closest('tr').nextAll('tr.tr_more:first').toggleClass('hidden');
                return false;
            });

            $('#lnk_collapseall').on('click', function () {
                $('tr.tr_message').addClass('hidden');
                $('tr.tr_exception').addClass('hidden');
                $('tr.tr_perf').addClass('hidden');
                $('tr.tr_more').addClass('hidden');
                return false;
            });
            $('#lnk_expandall').on('click', function () {
                $('tr.tr_message').removeClass('hidden');
                $('tr.tr_exception').removeClass('hidden');
                $('tr.tr_perf').removeClass('hidden');
                $('tr.tr_more').removeClass('hidden');
                return false;
            });
            $('#lnk_expandmessages').on('click', function () {
                $('tr.tr_message').removeClass('hidden');
                return false;
            });
            $('#lnk_expandexceptions').on('click', function () {
                $('tr.tr_exception').removeClass('hidden');
                return false;
            });
        });
    </script>
}

@functions {
    String GetBootstrapClassForLog(LogRecord.ELogLevel level)
    {
        switch (level)
        {
            case LogRecord.ELogLevel.Warning:
                return "warning";
            case LogRecord.ELogLevel.Error:
            case LogRecord.ELogLevel.Critical:
                return "danger";
            case LogRecord.ELogLevel.Info:
                return "info";
            default:
                return String.Empty;
        }
    }
}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        Showing logs of the <strong title="@Model.ApplicationPath">@Model.ApplicationName</strong> application from
        <strong>@(Model.Server == null ? "all servers" : Model.Server)</strong>
    </div>
    <div class="panel-body">
        <form class="form-inline" method="post">
            <input name="ApplicationPath" value="@Model.ApplicationPath" type="hidden" />
            <input name="ApplicationName" value="@Model.ApplicationName" type="hidden" />
            <input name="Server" value="@Model.Server" type="hidden" />
            <div class="form-group">
                <label for="DateFrom" class="control-label">Date from:</label>
                <input id="DateFrom" name="DateFrom" type="text" class="form-control" value="@Model.DateFrom" />
                <label for="DateTo" class="control-label">to:</label>
                <input id="DateTo" name="DateTo" type="text" class="form-control" value="@Model.DateTo" />
            </div>
            <div class="form-group">
                <label for="LevelFrom">Level from:</label>
                <select id="LevelFrom" name="LevelFrom" class="form-control">
                    @foreach (var opt in Model.Levels) {
                        if (opt.Item1 == Model.LevelFrom) {
                            <option selected="selected" value="@opt.Item1">@opt.Item2</option>
                        } else {
                            <option value="@opt.Item1">@opt.Item2</option>
                        }
                    }
                </select>
                <label for="LevelTo">to:</label>
                <select id="LevelTo" name="LevelTo" class="form-control">
                    @foreach (var opt in Model.Levels) {
                        if (opt.Item1 == Model.LevelTo) {
                            <option selected="selected" value="@opt.Item1">@opt.Item2</option>
                        } else {
                            <option value="@opt.Item1">@opt.Item2</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="Logger" class="control-label">Logger:</label>
                <input id="Logger" name="Logger" type="text" class="form-control" style="width: 300px" value="@Model.Logger" />
            </div>
            <div class="form-group">

                <label for="Keywords" class="control-label">Keywords:</label>
                <input id="Keywords" name="Keywords" type="text" class="form-control" style="width: 400px" value="@Model.Keywords" />
            </div>
            <button type="submit" class="btn btn-default">Filter</button>
        </form>
    </div>

    @if (ViewBag.Logs != null) {
        var result = (ApplicationLogSearchResults)ViewBag.Logs;
        int i = 0;
        <ul class="nav nav-pills">
            <li role="presentation" class="dropdown"><a id="lnk_collapseall" href="#">Collapse all</a></li>
            <li role="presentation" class="dropdown"><a id="lnk_expandall" href="#">Expand all</a></li>
            <li role="presentation" class="dropdown"><a id="lnk_expandmessages" href="#">Expand messages</a></li>
            <li role="presentation" class="dropdown"><a id="lnk_expandexceptions" href="#">Expand exceptions</a></li>
        </ul>
        <table class="table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Log level</th>
                    <th>Logger</th>
                    <th>Message</th>
                    <th>Exeption</th>
                    <th>Performance</th>
                    <th>Additional data</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var l in result.FoundItems) {
                    var bootstrapClass = GetBootstrapClassForLog(l.LogLevel);
                    <tr>
                        <td class="@bootstrapClass"><strong>@l.TimeUtc.ToLocalTime()</strong></td>
                        <td class="@bootstrapClass">@l.LogLevel.ToString()</td>
                        <td>@l.LoggerName.ShortenAndDotIfNecessary(20)</td>
                        <td><a href="#" class="lnk_message" title="Click to expand">@l.Message.ShortenAndDotIfNecessary(30)</a></td>
                        <td><a href="#" class="lnk_exception" title="Click to expand">@l.ExceptionType.ShortenAndDotIfNecessary(50)</a></td>
                        <td>
                            @if (l.PerformanceData != null && l.PerformanceData.Count > 0) {
                                <a href="#" class="lnk_perf" title="Click to expand">
                                    CPU: @l.PerformanceData.GetCounterValueIfAvailable("CPU") | Mem: @l.PerformanceData.GetCounterValueIfAvailable("Memory")
                                </a>
                            }
                        </td>
                        <td>
                            @if (l.AdditionalFields != null && l.AdditionalFields.Count > 0) {
                                <a href="#" class="lnk_more" title="Click to display additional data">more &gt;&gt;</a>
                            }
                        </td>
                    </tr>
                    <tr class="tr_message hidden">
                        <td colspan="7">
                            Message: @l.Message
                        </td>
                    </tr>
                    <tr class="tr_exception hidden">
                        <td colspan="7">
<pre>
Exception type: @l.ExceptionType
Exception message: @l.ExceptionMessage
Exception additional info: @l.ExceptionAdditionalInfo
</pre>
                        </td>
                    </tr>
                    <tr class="tr_perf hidden">
                        <td colspan="7">
                            Process Id: @l.ProcessId, Thread Id: @l.ThreadId<br />
                            @if (l.PerformanceData != null && l.PerformanceData.Count > 0) {
                                foreach (var pd in l.PerformanceData) {
                                    <text>@pd.Key: @pd.Value.ToString("#,0.00")</text><br />
                                }
                            }
                        </td>
                    </tr>
                    <tr class="tr_more hidden">
                        <td colspan="7">
                            @if (l.AdditionalFields != null && l.AdditionalFields.Count > 0) {
<pre>
    @foreach (var ad in l.AdditionalFields) {
                                <text>@ad.Key: @(ad.Value + "\r\n")</text>
    }
</pre>
                            } else {
                                <text>No additional data</text>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            @if (result.Offset > 0) {
                <a href="FIXME">&lt;&lt; Newer</a>
            }
            @if (result.Limit <= result.FoundItems.Length) {
                <a href="FIXME">&gt;&gt; Older</a>
            }
        </div>
    }
</div>
